In [26]:
import numpy as np
import pandas as pd

In [4]:
A = [1,2,3,4,5,6]
B=[13,21,34]

In [6]:
a = A.extend(B)

In [9]:
print(a)

None

In [10]:
b = A.append(B)

In [11]:
print(b)

None

In [12]:
np.append(A,B)

c:\users\dennis boadu\appdata\local\programs\python\python37-32\lib\site-packages\numpy\core\_asarray.py:136: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order, subok=True)

array([1, 2, 3, 4, 5, 6, 13, 21, 34, 13, 21, 34, list([13, 21, 34]),
       list([13, 21, 34]), 13, 21, 34], dtype=object)

In [14]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [15]:
url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"

In [16]:
fuel_data = pd.read_csv(url, error_bad_lines=False)

In [17]:
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [28]:
fuel_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_1994_12_161_0_4,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [19]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [20]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().min()

13.659396569737135

In [21]:
fuel_data.groupby('fuel_mmbtu_per_unit')[ 'fuel_mmbtu_per_unit' ].std()

fuel_mmbtu_per_unit
0.000001      0.0
0.000005      0.0
0.000006      0.0
0.000007      0.0
0.000009      0.0
             ...
124.855946    NaN
124.860000    NaN
124.879004    NaN
125.120000    NaN
341.260000    NaN
Name: fuel_mmbtu_per_unit, Length: 11227, dtype: float64

In [22]:
fuel_data.groupby('fuel_mmbtu_per_unit')[ 'fuel_mmbtu_per_unit' ].std().round(2)

fuel_mmbtu_per_unit
0.000001      0.0
0.000005      0.0
0.000006      0.0
0.000007      0.0
0.000009      0.0
             ...
124.855946    NaN
124.860000    NaN
124.879004    NaN
125.120000    NaN
341.260000    NaN
Name: fuel_mmbtu_per_unit, Length: 11227, dtype: float64

In [23]:
fuel_data.loc['std','fuel_mmbtu_per_unit'].round(2)

KeyError: 'std'

In [37]:
round(fuel_data1.loc['std','fuel_mmbtu_per_unit'],2)

10.6

In [35]:
fuel_data1.loc['std','fuel_mmbtu_per_unit']

10.600220307806714

In [33]:
round(fuel_data1.loc['75%','fuel_mmbtu_per_unit'],2)

17.01

In [30]:
fuel_data.index

RangeIndex(start=0, stop=29523, step=1)

In [31]:
fuel_data1 = fuel_data.describe(include='all')

In [32]:
fuel_data1

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_1994_12_161_0_4,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [39]:
round(fuel_data1.loc[['std','75%'],'fuel_mmbtu_per_unit'],2)

std    10.60
75%    17.01
Name: fuel_mmbtu_per_unit, dtype: float64

In [40]:
round(fuel_data1.groupby('fuel_type_code_pudl')['fuel_qty_burned'].skew(),2)

fuel_type_code_pudl
6       NaN
11486   NaN
29523   NaN
gas     NaN
Name: fuel_qty_burned, dtype: float64

In [41]:
round(fuel_data1['fuel_qty_burned'].skew(),2)

2.83

In [42]:
round(fuel_data['fuel_qty_burned'].skew(),2)

15.85

In [43]:
round(fuel_data['fuel_qty_burned'].kurtosis(),2)

651.37

In [44]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned','report_year'].pct_change()

c:\users\dennis boadu\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

       fuel_cost_per_unit_burned  report_year
0                            NaN          NaN
1                      -0.000538          0.0
2                       1.137783          0.0
3                       0.188570          0.0
4                            NaN          NaN
...                          ...          ...
29518                  -0.426170          0.0
29519                  -0.236402          0.0
29520                   0.306849          0.0
29521                  -0.776479          0.0
29522                  -1.000000          0.0

[29523 rows x 2 columns]

In [45]:
fuel_data.corr()["fuel_cost_per_unit_burned"]

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [46]:
fuel_data.corr()["fuel_cost_per_unit_burned"].sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [47]:
fuel_data1.corr()["fuel_cost_per_unit_burned"].sort_values(ascending=True)

report_year                     0.077525
fuel_mmbtu_per_unit             0.077999
utility_id_ferc1                0.081008
fuel_qty_burned                 0.977141
fuel_cost_per_unit_delivered    0.978385
fuel_cost_per_mmbtu             0.991585
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [48]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [49]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().max()

11140.19723948813

In [50]:
fuel_data.isnull()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
29518,False,False,False,False,False,False,False,False,False,False,False
29519,False,False,False,False,False,False,False,False,False,False,False
29520,False,False,False,False,False,False,False,False,False,False,False
29521,False,False,False,False,False,False,False,False,False,False,False
29522,False,False,False,False,False,False,False,False,False,False,False

In [51]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [52]:
fuel_data['fuel_unit'].dtype

dtype('O')

In [53]:
fuel_data['fuel_unit'].count()

29343

In [54]:
fuel_data['fuel_unit'].unique()

array(['ton', 'mcf', 'kgU', 'bbl', 'gramsU', nan, 'mwdth', 'mmbtu',
       'mwhth', 'gal'], dtype=object)

In [55]:
fuel_data['fuel_unit'].unique().count()

AttributeError: 'numpy.ndarray' object has no attribute 'count'

In [56]:
fuel_data['fuel_unit'].unique().max()

TypeError: '>=' not supported between instances of 'str' and 'float'

In [57]:
fuel_data.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64