In [1]:
import numpy as np

In [2]:
arr = [6,7,8,9]
print(arr)

[6, 7, 8, 9]

In [1]:
import pandas as np

In [2]:
import pandas as pd

In [3]:
days = pd.Series(['Monday','Tuesday','Wednesday'])

In [4]:
print(days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [5]:
days1 = np.array(['Monday','Tuesday','Wednesday'])

In [6]:
print(days1)

<StringArray>
['Monday', 'Tuesday', 'Wednesday']
Length: 3, dtype: string

In [7]:
days2 = pd.series(days1)

AttributeError: module 'pandas' has no attribute 'series'

In [8]:
days2 = pd.Series(days1)

In [9]:
print(days2)

0       Monday
1      Tuesday
2    Wednesday
dtype: string

In [10]:
days3 = pd.Series(days1, index= ['a','b','c'])

In [11]:
print(days3)

a       Monday
b      Tuesday
c    Wednesday
dtype: string

In [12]:
days4 = pd.Series({'a':'Monday', 'b':'Tuesday', 'c':'Wednesday'})

In [13]:
print(day4)

NameError: name 'day4' is not defined

In [14]:
print(days4)

a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [15]:
days1[0]

'Monday'

In [16]:
days[1:]

1      Tuesday
2    Wednesday
dtype: object

In [17]:
df_countries = {'country':['Ghana','Kenya', 'Nigeria','Togo'], 
                'capital':['Accra','Nairobi','Abuja','Lome'],
               'Population':[123,433,567,842],
               'Age':[45,7,3,67]}

In [18]:
print(df_countries
     )

{'country': ['Ghana', 'Kenya', 'Nigeria', 'Togo'], 'capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'], 'Population': [123, 433, 567, 842], 'Age': [45, 7, 3, 67]}

In [19]:
df = pd.DataFrame(df_dictionary)

NameError: name 'df_dictionary' is not defined

In [20]:
df = pd.DataFrame(df_dictionary, index=[2,4,6,8])

NameError: name 'df_dictionary' is not defined

In [21]:
df = pd.DataFrame(df_countries)

In [22]:
df

   country  capital  Population  Age
0    Ghana    Accra         123   45
1    Kenya  Nairobi         433    7
2  Nigeria    Abuja         567    3
3     Togo     Lome         842   67

In [23]:
df = pd.DataFrame(df_countries, index=[2,4,6,8])

In [24]:
df

   country  capital  Population  Age
2    Ghana    Accra         123   45
4    Kenya  Nairobi         433    7
6  Nigeria    Abuja         567    3
8     Togo     Lome         842   67